<section class="about">
    <h1>About Section</h1>
    <div class="section-content">
        <div class="about-image-wrapper">
            <img src="../assets/images/about-image.jpg" alt="about" class="about-image">
        </div>
        <div class="about-details">
            <h2 class="section-title">About Us</h2>
            <p class="text">At Coffee House in berndorf, Germany, we pride ourselves on being a go-to destination for coffee lovers and conversation seekers alike. We're dedicated to providing an exceptional coffee experience in a cozy and inviting atmosphere, where guests can relax, unwind, and enjoy thier time in comfort.</p> 
            
            <div class="social-link-list">
                <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
 
</section>