 <!--Contact Section  -->
 
<section class="contact-section">
    <h2 class="section-title">Contact Us</h2>
    <div class="section-content">
        <ul class="contact-info-list">
            <li class="contact-info">
                <i class="fa-solid fa-location-crosshairs"></i>
                <p>123 Campsite Avenue, Wilderness, CA 98765</p>
            </li>
                <li class="contact-info">
                <i class="fa-regular fa-envelope"></i>
                <p>info@coffeeshopwebsite.com</p>
            </li>
                <li class="contact-info">
                <i class="fa-solid fa-phone"></i>
                <p>(123) 456-78909</p>
            </li>
                <li class="contact-info">
                <i class="fa-regular fa-clock"></i>
                <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
            </li>
            <li class="contact-info">
                <i class="fa-regular fa-clock"></i>
                <p>Saturday: 10:00 AM - 3:00 PM</p>
            </li>
                <li class="contact-info">
                <i class="fa-regular fa-clock"></i>
                <p>Sunday: Closed</p>
            </li>
                <li class="contact-info">
                <i class="fa-solid fa-globe"></i>
                <p>www.codingnepalweb.com</p>
            </li>
        </ul>

        <form action="#" class="contact-form">
            <input type="text" placeholder="Your name" class="form-input" required>
            <input type="text" placeholder="Your email" class="form-input" required>
            <textarea placeholder="Your message" class="form-input" required></textarea>
            <button class="submit-button">Submit</button>
        </form>
    </div>
</section>
