<section class="gallery">
    <h2>GALLERY</h2>

    <div class="gallery-grid">
        <img src="assets/images/gallery-1.jpg" alt="coffee image1">
        <img src="assets/images/gallery-2.jpg" alt="coffee image2">
        <img src="assets/images/gallery-3.jpg" alt="coffee image3">
        <img src="assets/images/gallery-4.jpg" alt="coffee image4">
        <img src="assets/images/gallery-5.jpg" alt="coffee image5">
        <img src="assets/images/gallery-6.jpg" alt="coffe image6">
    </div>
</section>
