<section class="menu-section">
    <h2 class="section-title">Our Menu</h2>
    <div class="section-content">
        <ul class="menu-list">
            <li class="menu-item">
                <img src="../assets/images/hot-beverages.png" alt="Hot Beverage" class="menu-image">
                <div class="menu-details">
                    <h3 class="name">Hot Beverages</h3>
                    <p class="text">Wide range of Steaming hot coffee to make you fresh and light.</p>
                </div>
            </li>
            <li class="menu-item">
                <img src="../assets/images/cold-beverages.png" alt="Cold Beverage" class="menu-image">
                <div class="menu-details">
                    <h3 class="name">Cold Beverages</h3>
                    <p class="text">Creamy and frothy cold coffee to make you cool.</p>
                </div>
            </li>
            <li class="menu-item">
                <img src="../assets/images/refreshment.png" alt="Refreshment" class="menu-image">
                <div class="menu-details">
                    <h3 class="name">Refreshment</h3>
                    <p class="text">Fruit and icy refreshing drink to make you feel refreshed.</p>
                </div>
            </li>
            <li class="menu-item">
                <img src="../assets/images/special-combo.png" alt="Special Combo" class="menu-image">
                <div class="menu-details">
                    <h3 class="name">Special Combo</h3>
                    <p class="text">Your favorite eating and drinking combinations.</p>
                </div>
            </li>
            <li class="menu-item">
                <img src="../assets/images/desserts.png" alt="Dessert" class="menu-image">
                <div class="menu-details">
                    <h3 class="name">Dessert</h3>
                    <p class="text">Satiate your palate and take you on a culinary treat.</p>
                </div>
            </li>
            <li class="menu-item">
                <img src="../assets/images/burger-frenchfries.png" alt="burger & French Fries" class="menu-image">
                <div class="menu-details">
                    <h3 class="name">Burger & French Fries</h3>
                    <p class="text">Quick bites to satisfy your small size hunger.</p>
                </div>
            </li>
        </ul>  
    </div>
</section>
