@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* footer section styling */
.footer-section {
    padding: 20px 0;
    background: var(--dark-color);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size:  var(--font-size-1);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color);
}

.footer-section .policy-text .policy-link .separator {
    margin: 0 5px;
    color: var(--white-color);
}

.footer-section .section-content {
    flex-direction: column;
    gap: 20px;
}