header {
    background: #5a1f1f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;

}

.logo {
    font-size: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid gold;
}