/* Testimonials Section */
:root{
   /* Colors */
   --white-color: #fff;
   --dark-color: #252525;
   --primary-color: #3b141c;
   --secondary-color: #f3961c;
   --light-pink-color: #faf4f5;
   --medium-gray-color: #ccc;

   /* Font size */
   --font-size-s: 0.9rem;
   --font-size-n: 1rem;
   --font-size-m: 1.12rem;
   --font-size-l: 1.5rem;
   --font-size-xl: 2rem;
   --font-size-xxl: 2.3rem;

   /* Font weight */
   --font-weight-normal: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;
   
   /* Border radius */
   --border-radius-s: 8px;
   --border-radius-m: 30px;
   --border-radius-circle: 50%;

   /* Site max width */
   --site-max-width: 1300px;
}

.testimonials-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}
.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}
.testimonials-section .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.testimonials-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}
.testimonials-section .testimonial .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}
.testimonials-section .swiper-slide-button{
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}
.testimonials-section .swiper-slide-button:hover{
    color: var(--primary-color);
}